:root {
  --black-color: #333;
  --white-color: #fff;
  --gray-color: #aaa;
  --accent-color: #07f9f9;
}

:root {
  --content-width-sm: 650px;
  --content-width: 980px;
  --content-width-lg: 1080px;
}

:root {
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  /* --z-index-modal: 200; */
}

body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1em;
}

/* クリックした際の青い枠線を削除 */
*:focus {
  outline: none;
}

/* タップした際の青い四角を削除 */
button,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* ---------- utility ---------- */

.u_sm-dn {
  display: block;
}

@media screen and (min-width: 768px) {
  .u_lg-dn {
    display: none;
  }
}

/* ---------- layout ------------- */
.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

.l_header {
  height: 70px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  background: transparent;
  position: fixed;
}

.l_header_ttl {
  font-family: "Jacques Francois Shadow", serif;
  line-height: 1;
  font-weight: 400;
  font-size: 30px;
  /* color: var(--white-color); */
}

.l_header_ttl_link {
  height: 100%;
  display: flex;
  align-items: center;
}

.l_header_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white-color);
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 786px) {
  .l_header_nav {
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    pointer-events: inherit;
  }
}

.l_header_nav_list {
  display: flex;
  gap: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 786px) {
  .l_header_nav_list {
    height: auto;
    flex-direction: row;
  }
}

.l_header_nav_item {
  font-family: "Jacques Francois Shadow", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.l_header_nav_link {
  display: block;
  height: 100%;
}

.l_main {
  overflow: hidden;
  padding-top: 70px;
}

.l_footer {
  padding: 30px 50px 0;
  background: var(--accent-color);
}

.l_footer_nav_list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 786px) {
  .l_footer_nav_list {
    align-items: center;
    justify-content: space-between;
  }
}

.l_footer_nav_item {
  text-transform: uppercase;
  font-family: "Jacques Francois Shadow", serif;
  width: 50%;
  text-align: center;
}

@media screen and (min-width: 786px) {
  .l_footer_nav_item {
    width: 25%;
  }
}

.l_footer_nav_link {
  height: 100%;
}

.l_footer_icon_link {
  font-size: 8px;
}

.l_footer_inner {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

.l_footer_copyright_txt {
  margin-left: 20px;
  font-size: 8px;
}

/* --------------module---------- */
.m_hamburger {
  width: 32px;
  height: 24px;
  position: relative;
  z-index: var(--z-index-menu);
}

@media screen and (min-width: 786px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 2px;
  position: absolute;
  background: var(--black-color);
  right: 0;
  transition: 0.3s;
}

.m_hamburger-bar:first-child {
  top: 0;
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translateY(-100%);
}

.m_section_ttl {
  text-align: center;
  position: relative;
}

.m_section_ttl::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

.m_section_ttl_main {
  font-family: "Jacques Francois Shadow", serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
  background: var(--white-color);
  position: relative;
}

.m_section_ttl_sub {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.m_about_profile_title {
  font-size: 28px;
  padding-left: 12px;
  position: relative;
}

.m_about_profile_title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 30px;
  background: var(--accent-color);
}

/* top-page */
.top_kv {
  height: 100vh;
  position: relative;
}

.top_kv_ttl {
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Jacques Francois Shadow", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_profile {
  margin-top: 60px;
}

@media screen and (min-width: 786px) {
  .about_profile {
    margin-top: 88px;
    display: flex;
    align-items: center;
  }
}

.about_profile_img_wrapper {
  margin: 0 auto;
  width: 238px;
  height: 284px;
}

.about_profile_introduction {
  margin-top: 60px;
}

@media screen and (min-width: 786px) {
  .about_profile_introduction {
    margin-left: 137px;
    margin-top: 0;
  }
}

.about_profile_th {
  text-align: justify;
}

.about_profile_td {
  padding-left: 8px;
}

.about_strength {
  margin-top: 60px;
}

@media screen and (min-width: 786px) {
  .about_strength {
    margin-top: 88px;
  }
}

.about_strength_desc {
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  display: inline-block;
}

.about_strength_desc::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  -webkit-transform: translate(-50%, -50%) rotate(-3deg);
  -ms-transform: translate(-50%, -50%) rotate(-3deg);
  z-index: var(--z-index-back);
}

.about_strength_txt {
  margin-top: 24px;
}

.about_vision {
  margin-top: 60px;
}

@media screen and (min-width: 786px) {
  .about_vision {
    margin-top: 88px;
  }
}

.about_vision_txt {
  margin-top: 40px;
}

.skill_desc {
  margin-top: 40px;
}

@media screen and (min-width: 786px) {
  .skill_desc {
    margin-top: 80px;
  }
}

.skill_desc_article:not(:first-child) {
  margin-top: 32px;
}

@media screen and (min-width: 786px) {
  .skill_desc_article:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 786px) {
  .skill_desc_articles {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 58px;
  }
}

.skill_desc_article {
  width: 100%;
}

@media screen and (min-width: 786px) {
  .skill_desc_article {
    width: calc((100% - 58px * 2) / 3);
  }
}

.skill_desc_img_wrapper {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  flex-shrink: 0;
}

.skill_desc_title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  margin-top: 16px;
  text-align: center;
}

.works_cards {
  margin-top: 60px;
}

@media screen and (min-width: 450px) {
  .works_cards {
    /* overflow: hidden; */
    display: grid;
    gap: 56px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.works_card {
  /* overflow: visible; */
  width: 288px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
}

.works_card:not(:first-child) {
  margin-top: 40px;
}

@media screen and (min-width: 450px) {
  .works_card:not(:first-child) {
    margin-top: 0;
  }
}

.works_card_img_wrapper {
  margin: 20px 20px 10px;
}

.works_card_inner {
  margin-inline: 8px;
}

.works_card_heading {
  font-weight: bold;
  text-align: center;
}

.works_card_priod {
  margin-top: 32px;
}
/* ------------------js--------------- */

.js_hamburger-bar {
  transition: 0.24s, transform 0.24s, opacity 0.24s;
}

.js_navigation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (min-width: 786px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translateY(0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translateY(0) rotate(-45deg);
}

.js_header.hidden {
  transform: translateY(-70px);
}
